.treebank {
  background-color: rgb(242, 242, 242);

  path {
    stroke: #333;
    stroke-width : 0.5px;
    fill: none;
  }

  :global {
    .nodes {
      fill: none;
    }
    .nodes {
      text {
        fill: #222;
        font-weight: 400;
        font-family: "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
        line-height: 1;
        font-size: 1rem;
      }
    }
  }
}
