.treebank {
  background-color: rgb(242, 242, 242);

  path {
    stroke: #333;
    stroke-width : 0.5px;
    fill: none;
  }

  text {
    fill: #222;
    font-family: sans-serif;
  }

  :global {
    .nodes {
      fill: none;
    }

    .edgeLabels {
      text {
        font-size: 0.7rem;
      }
    }

    .nodes {
      text {
        font-size: 1rem;
      }
    }
  }
}
